@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap';
@import 'https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css';
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    height: 100vh;
}

.avatar {
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.dhx_toolbar-button__html {
    display: flex;
    align-items: center;
    gap: 5px;
}
.avatar.logged-avatar {
    width: 20px;
    height: 20px;
}