@import '../../css/index.css';

#dataContainer {
    margin-top: 20px;
    width: 1102px;
    height: 400px;
}
h1 {
    margin-top: 20px;
}
#toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}