@import '../../css/index.css';

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#dataContainer {
    margin-top: 20px;
    width: 1102px;
    height: 400px;
}
h1 {
    margin-top: 20px;
}
#toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}